.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-container{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    
}

.score-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-count{
    font-size: 4rem;;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}